*{box-sizing: border-box;}

body,h1,h2,h3,h4,h5,h6,p,ol[class],ul[class],li,figure,
figcaption,blockquote,dl,dd {margin: 0; padding: 0;}
ul[class],ol[class]{padding: 0;}

body{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}

.first_page{
	height: 100vh;
	width: 100%;
	background: linear-gradient(to right, #dae2f8, #d6a4a4);
	background-size: cover;
}

.content_block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header_block{
	display: flex;
	justify-content: space-between;
	height: 90px;
	width: 100%;
	background: linear-gradient(to right, #dae2f8, #d6a4a4);
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.myName{
	display: flex;
	align-items: center;
}

.myName_title{
	margin-left: 150px;
	margin-top: 10px;
	font-size: 23px;
	letter-spacing: 4px;
	font-weight: 200;
	color: #00467f;
}

.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-right: 70px;
}

.nav{
}

.nav_item{
	margin: 0 10px;
}

.nav_link{
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	font-size: 21px;
	font-weight: 100;
	text-transform: uppercase;
}

.nav_link:hover{
	transition: 0.5s;
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
	box-shadow: 0 0 2px 2px #dae2f8;

}

.nav_link:active{
	transition: 0.1s;
	font-size: 20px;
	box-shadow: 0 0 0px 0px #dae2f8;
	border-bottom: none;
}



.hr{
	width: 350px;
	background-color: white;
}
.content_header{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 4px;
}

.gradient_text{
	background: linear-gradient(-45deg, #ede574 50%, white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #334d50;

}

.gradient_tex:hover{
	transition: 0.4s;
	background: linear-gradient(-45deg, #ede574 50%, white 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0b2349;
}

.content2{
	display: flex;
}

.my_photo{
	margin-left: 20px;
	margin-top: 20px;
}

.photo1{
	height: 350px;
}

.about_me_title{
	text-align: center;
	display: block;
	margin-left: 45px;
	margin-top: 20px;
}

.about_me_title1{
	font-size: 18px;
	font-family: serif;
	font-style: italic;
	color: rgba(255,255,255,0.8);
	padding: 0 2px;
}

.spisok{
	text-align: left;
	font-size: 18px;
	font-family: serif;
	font-style: italic;
	color: rgba(255,255,255,0.8);
}

.spisok ul li{
	text-decoration: none;
}