*{box-sizing: border-box;}

body,h1,h2,h3,h4,h5,h6,p,ol[class],ul[class],li,figure,
figcaption,blockquote,dl,dd {margin: 0; padding: 0;}
ul[class],ol[class]{padding: 0;}

body{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
}
.text button a:hover{
	text-decoration: none;
}

.block{
	background-color: white;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}
.block_content{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.block_for_cercle{

}

.cercles{
	background-color: rgba(230,230,17,0.5);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: 30px;
	margin-right: 100px;
}

.cercles:hover{
	transition: 0.5s;
	cursor: pointer;
	background-color: rgba(230,230,17,1);
	width: 140px;
	height: 140px;
}

.cercles:active{
	transition: 0.1s;
	box-shadow: 0 0 10px 10px rgba(230,230,17,0.5);
}

.first_cercle{
	
}
.second_cercle{

}

.three_cercle{

}

.block_for_title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.title{
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
}
.title1{
	margin-top: 80px;
}

.title2{
	margin-top: 20px;
}
.title3{
margin-bottom: 60px;
}

.button{
	display: flex;
	align-items: center;
	flex-direction: column;
}		


.button_next{
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(230,230,17,0.5);
	padding: 10px;
	transition: 0.3s;
}
.button_next:hover{
	background-color: rgba(230,230,17,1);
}
.button_next a{
	text-decoration: none;
	color: grey;
}

.button_next a:hover{
	text-decoration: none;
	color: black;
}